<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>male000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{30,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>male001.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{30,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>male002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,44},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male007.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,44},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male009.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,44},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male011.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,44},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male013.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,88},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male014.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,88},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male015.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,88},{28,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,42}}</string>
        <key>sourceSize</key>
        <string>{28,42}</string>
      </dict>
      <key>male008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>male004.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,132},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>male010.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,132},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>male005.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,132},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>male.png</string>
      <key>size</key>
      <string>{122,172}</string>
      <key>textureFileName</key>
      <string>male.png</string>
    </dict>
  </dict>
</plist>