<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>female005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>female007.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>female010.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>female011.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>female008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>female009.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,40},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>female006.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,40},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>female004.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,40},{30,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,36}}</string>
        <key>sourceSize</key>
        <string>{30,36}</string>
      </dict>
      <key>female000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female001.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,78},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female002.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,78},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,78},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female013.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,118},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female014.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,118},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>female015.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,118},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>female.png</string>
      <key>size</key>
      <string>{126,156}</string>
      <key>textureFileName</key>
      <string>female.png</string>
    </dict>
  </dict>
</plist>